<h1>Editing Personaje</h1>

<%= render 'form', personaje: @personaje %>

<%= link_to 'Show', @personaje , class:'button radius success' %> |
<%= link_to 'Back', personajes_path, class:'button radius danger' %>
